.ui-loader{
    display: none!important;
}

.ui-field-contain>label{
    float: none!important;
    width: 100% !important;
    margin: 20px 0!important;
    color: #FFBC58!important;
}

.ui-select{
    width: 100% !important;
}

#create-kit-fielset div.ui-input-text{
    background: #f9f9f9;
    border: none!important;
    box-shadow: none!important;
}

#create-kit-fielset .mdl-textfield{
    line-height: 3!important;
}

#create-kit-fielset .mdl-textfield{
    width: 99% !important;
}

#create-kit-fielset input{
    border-bottom: 2px solid #6AB8C1;
    border-radius: 0;
}
/*main page*/

thead tr{
    background-color: #FFBC58!important;
    color: #FFFFFF;
}

.table-label{
    margin-top: 100px;
    padding: 0 20px;
}

.table-container{
    margin-top: 30px;
    padding: 0 10px;
}

/*kit create*/

.kit-create-label{
    margin: 70px 50px 0;
}

.select-container{
    margin: 0 20px;
}

.type-list-container{
    margin: 0 60px;
}

.kit-objects-container{
    margin: 0 20px;
}

.object-list-label{
    margin: 50px 20px;
}

.create-kit-button{
    background: #3dc235;
    margin: 50px 60px;
    border-radius: 10px;
}
.create-kit-button a{
    background: #3dc235!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.kit-description-container{
    margin: 0 100px;
}

#error-msg-create-kit{
    margin: 0 100px;
}