.ui-loader{
    display: none!important;
}

.ui-field-contain>label{
    float: none!important;
    width: 100% !important;
    margin: 20px 0!important;
    color: #FFBC58!important;
}

.ui-select{
    width: 100% !important;
}

/*main page*/

thead tr{
    background-color: #FFBC58!important;
    color: #FFFFFF;
}

.table-label{
    margin-top: 100px;
    padding: 0 20px;
}

.table-container{
    margin-top: 30px;
    padding: 0 10px;
}

/*kit create*/

.kit-create-label{
    margin: 70px 50px 0;
}

.select-container{
    margin: 0 20px;
}

.type-list-container{
    margin: 0 60px;
}

.kit-objects-container{
    margin: 0 20px;
}

.object-list-label{
    margin: 50px 20px;
}