/*jquery mobile*/
.ui-loader{
    display: none!important;
}

.ui-field-contain>label{
    float: none!important;
    width: 100% !important;
    margin: 20px 0!important;
    color: #FFBC58!important;
    font-weight: bold!important;
}

.ui-select{
    width: 100% !important;
}

#create-kit-fielset{
    width: 37% !important;
}

.ui-footer{
    margin-bottom: 10px!important;
    border: none!important;
}

#create-kit-fielset div.ui-input-text{
    background: #f9f9f9;
    border: none!important;
    box-shadow: none!important;
}

#create-kit-fielset input{
    border-bottom: 2px solid #6AB8C1;
    border-radius: 0;
}

#create-kit-fielset ::placeholder{
    color: #D3D3D3!important;
    text-align: left!important;
}

/*end jquery mobile*/


/*main page*/

.home-button{
    margin: 0!important;
    border-radius: 10px!important;
}

thead tr{
    background: url("../img/table-header.jpg") bottom !important;
    color: #FFFFFF;
}

.table-label{
    height: 100px;
    margin-top: 50px;
    padding: 0 20px;
}

.table-container{
    margin: 30px auto 30px auto;
    padding: 0 10px;
}

#insert-type-menu-popup{
    width: 300px;
    top: 55px!important;
}

#insert-type-menu{
    box-shadow: none;
    border-left: 3px solid #6AB8C1;
    border-right: 3px solid #6AB8C1;
    border-bottom: 3px solid #6AB8C1;
}

#insert-type-menu a{
    padding: 20px;
}

#insert-object-menu-popup{
    width: 300px;
    top: 55px!important;
}

#insert-object-menu{
    box-shadow: none;
    border-left: 3px solid #6AB8C1;
    border-right: 3px solid #6AB8C1;
    border-bottom: 3px solid #6AB8C1;
}

#insert-object-menu a{
    padding: 20px;
}

#view-types-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#view-types-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 0 auto!important;
}

#view-types-ul{
    padding: 0 40px 10px 40px;
}

#view-types-ul li{
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    margin-bottom: 3px;
    border-radius: 10px;
}

#view-types-popup-popup .ui-input-search{
    margin-top: 40px;
}

#view-objects-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#view-objects-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 0 auto!important;
}

#view-objects-ul{
    padding: 0 40px 10px 40px;
}

#view-objects-ul li{
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    margin-bottom: 3px;
    border-radius: 10px;
}

#view-objects-popup-popup .ui-input-search{
    margin-top: 40px;
}

/*end main page*/



/*kit create*/

.kit-create-label{
    background-color: #6AB8C1!important;
    padding: 31px!important;
}

.kit-create-label p{
    color: white!important;
    font-weight: bold!important;
    font-size: xx-large!important;
    text-align: center;
    margin: 0;
}

.select-container{
    margin: 0 50px;
}

.type-list-container{
    margin: 0 50px;
}

.type-list-container .ui-input-search{
    border: 1px solid #FFBC58!important;
    outline: none!important;
    box-shadow: none!important;
}

.kit-objects-container{
    margin: 0 50px;
}

.object-list-label{
    margin: 50px 5px;
}

.object-list-label p{
    font-weight: bold;
}

.create-kit-button-submit{
    background: #3dc235;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-submit a{
    background: #3dc235!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.create-kit-button-suspend{
    background: #FFBC58!important;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.close-kit-button{
    background: #3dc235!important;
    color: #FFFFFF!important;
    width: 90%!important;
    margin: auto!important;
    border-radius: 10px!important;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-suspend a{
    background: #FFBC58!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.create-kit-button-recover{
    background: #FFBC58!important;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-recover a{
    background: #FFBC58!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.kit-description-container{
    margin: 30px 50px 0 50px;
}

.create-kit-footer-ul{
    width: 70%!important;
    margin: auto!important;
}

.footer-navbar{
    background: #FFFFFF!important;
}

.ui-icon-greenbtn:after {
    background-image: url("../img/plus_icon.png")!important;
    background-size: 24px 24px!important;
}

.ui-icon-redminus:after {
    background-image: url("../img/incon-minus.png")!important;
    background-size: 24px 24px!important;
}

#error-msg-create-kit{
    margin: 0 0 50px 50px!important;
}

#error-msg-create-kit div{
    width: 20% !important;
    margin-left: 0!important;
    border: none!important;
    padding: 0!important;
}
/*end create kig*/


/*insert type*/
.insert-popup{
    width: 600px!important;
    background-color: #6AB8C1!important;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

.insert-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 40px auto!important;
}

.insert-popup-350{
    width: 600px!important;
    height: 340px!important;
    background-color: #6AB8C1!important;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

.insert-popup-350 h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 40px auto!important;
}

#input-type-fielset .ui-input-text{
    background: #6AB8C1;
    border: 3px solid white;
    border-radius: 10px;
    color: #FFFFFF;
}

#input-type-fielset input:focus{
    outline: none!important;
}

#close-type{
    margin-right: 0;
}

#update-type-form #update-type-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

.select-object-list{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    margin-bottom: 3px!important;
    border-radius: 10px!important;
    box-shadow: none!important;
}

.list-type-container{
    margin: 50px 50px 20px 50px;
}

.list-type-container .ui-input-search{
    border: 1px solid #6AB8C1!important;
}

.list-type-label{
    margin: 50px auto auto 50px;
}

/*end insert type*/


/*insert object*/

/* da modificare su tutti gli input */
.input-type-container div{
    background: #6AB8C1!important;
    border: 3px solid white!important;
    border-radius: 10px!important;
    color: #FFFFFF!important;
}

#input-object-fielset .ui-input-text{
    background: #6AB8C1;
    border: 3px solid white;
    border-radius: 10px;
    color: #FFFFFF;
}

#input-object-fielset input:focus{
    outline: none!important;
}

#update-object-fielset .ui-input-text{
    background: #6AB8C1;
    border: 3px solid white;
    border-radius: 10px;
    color: #FFFFFF;
}

#input-object-fielset input:focus{
    outline: none!important;
}

#close-object-popup{
    margin-right: 0;
}

#update-object-form #update-object-type-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

#update-object-form #update-object-tag-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

#update-object-type-form #update-object-type-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

#update-object-tag-form #update-object-tag-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

#insert-type-form #insert-object-type-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

#insert-type-form #insert-object-tag-select-button{
    background-color: #6AB8C1!important;
    color: #FFFFFF!important;
    outline: none!important;
    border: 3px solid #FFFFFF!important;
    border-radius: 10px!important;
    margin-bottom: 20px!important;
    box-shadow: none!important;
}

.insert-object-success{
    border-radius: 10px!important;
    width: 80% !important;
    margin: 10px auto auto auto!important;
}

.insert-object-success p{
    margin: 0!important;
    padding: 5px 20px!important;
    color: #FFFFFF!important;
    text-align: center!important;
    background: #3dc235!important;
}

.insert-object-error{
    border-radius: 10px!important;
    width: 80% !important;
    margin: 10px auto auto auto!important;
}

.insert-object-error p{
    margin: 0!important;
    padding: 5px 20px!important;
    color: #FFFFFF!important;
    text-align: center!important;
    background: #E52612!important;
}

/*end insert object*/