/*jquery mobile*/
.ui-loader{
    display: none!important;
}

.ui-field-contain>label{
    float: none!important;
    width: 100% !important;
    margin: 20px 0!important;
    color: #FFBC58!important;
    font-weight: bold!important;
}

.ui-select{
    width: 100% !important;
}

#create-kit-fielset{
    width: 37% !important;
}

.ui-footer{
    margin-bottom: 10px!important;
    border: none!important;
}

#create-kit-fielset div.ui-input-text{
    background: #f9f9f9;
    border: none!important;
    box-shadow: none!important;
}

#create-kit-fielset input{
    border-bottom: 2px solid #6AB8C1;
    border-radius: 0;
}

#create-kit-fielset ::placeholder{
    color: #D3D3D3!important;
    text-align: left!important;
}

/*end jquery mobile*/


/*main page*/

thead tr{
    /*background-color: #FFBC58!important;*/
    background: url("../img/table-header.jpg") bottom !important;
    color: #FFFFFF;
}

.table-label{
    height: 100px;
    /*background-image: url("../img/table-label.jpg")!important;*/
    margin-top: 50px;
    padding: 0 20px;
}

.table-container{
    margin-top: 30px;
    padding: 0 10px;
}

#insert-type-menu-popup{
    width: 300px;
    top: 55px!important;
}

#insert-type-menu{
    box-shadow: none;
    border-left: 3px solid #6AB8C1;
    border-right: 3px solid #6AB8C1;
    border-bottom: 3px solid #6AB8C1;
}

#insert-type-menu a{
    padding: 20px;
}

#insert-object-menu-popup{
    width: 300px;
    top: 55px!important;
}

#insert-object-menu{
    box-shadow: none;
    border-left: 3px solid #6AB8C1;
    border-right: 3px solid #6AB8C1;
    border-bottom: 3px solid #6AB8C1;
}

#insert-object-menu a{
    padding: 20px;
}

#view-types-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#view-types-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 0 auto!important;
}

#view-types-ul{
    padding: 0 40px 10px 40px;
}

#view-types-ul li{
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    margin-bottom: 3px;
    border-radius: 10px;
}

#view-types-popup-popup .ui-input-search{
    margin-top: 40px;
}

#view-objects-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#view-objects-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 0 auto!important;
}

#view-objects-ul{
    padding: 0 40px 10px 40px;
}

#view-objects-ul li{
    color: #FFFFFF;
    text-align: center;
    border: 2px solid #FFFFFF;
    margin-bottom: 3px;
    border-radius: 10px;
}

#view-objects-popup-popup .ui-input-search{
    margin-top: 40px;
}

/*end main page*/



/*kit create*/

.kit-create-label{
    background-color: #6AB8C1!important;
    padding: 31px!important;
}

.kit-create-label p{
    color: white!important;
    font-weight: bold!important;
    font-size: xx-large!important;
    text-align: center;
    margin: 0;
}

.select-container{
    margin: 0 50px;
}

.type-list-container{
    margin: 0 50px;
}

.type-list-container .ui-input-search{
    border: 1px solid #6AB8C1!important;
}

.kit-objects-container{
    margin: 0 50px;
}

.object-list-label{
    margin: 50px 5px;
}

.object-list-label p{
    font-weight: bold;
}

.create-kit-button-submit{
    background: #3dc235;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-submit a{
    background: #3dc235!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.create-kit-button-suspend{
    background: #FFBC58!important;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.close-kit-button{
    background: #3dc235!important;
    color: #FFFFFF!important;
    width: 90%!important;
    margin: auto!important;
    border-radius: 10px!important;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-suspend a{
    background: #FFBC58!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.create-kit-button-recover{
    background: #FFBC58!important;
    width: 45%!important;
    border-radius: 10px;
    border: none!important;
    box-shadow: none!important;
}

.create-kit-button-recover a{
    background: #FFBC58!important;
    border-radius: 10px!important;
    text-shadow: none!important;
    color: #FFFFFF!important;
}

.kit-description-container{
    margin: 30px 50px 0 50px;
}

.create-kit-footer-ul{
    width: 70%!important;
    margin: auto!important;
}

.footer-navbar{
    background: #FFFFFF!important;
}

.ui-icon-greenbtn:after {
    background-image: url("../img/plus_icon.png")!important;
    background-size: 24px 24px!important;
}

.ui-icon-redminus:after {
    background-image: url("../img/incon-minus.png")!important;
    background-size: 24px 24px!important;
}

#error-msg-create-kit{
    margin: 0 0 50px 50px!important;
}

#error-msg-create-kit div{
    width: 80% !important;
    margin-left: 0!important;
    border: none!important;
    padding: 0!important;
}

/*end create kig*/

/*insert type*/
#insert-type-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#insert-type-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 40px auto!important;
}

#input-type-fielset input{
    width: 98%;
    background: #6AB8C1;
    border: 3px solid white;
    border-radius: 10px;
    height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

#input-type-fielset input:focus{
    outline: none!important;
}

#input-type-fielset input[type=submit]{
    width: 100%;
    background: #FFFFFF;
    color: #6AB8C1;
    border: 1px solid white;
    border-radius: 10px;
    height: 38px;
    font-size: large;
    line-height: 1!important;
    text-align: center;
    margin-bottom: 30px;
}

/*end insert type*/

/*insert object*/

#insert-object-popup{
    width: 500px;
    background-color: #6AB8C1;
    border: none!important;
    border-radius: 20px!important;
    box-shadow: 0 0 20px 4px #6AB8C1!important;
    padding: 30px!important;
}

#insert-object-popup h3{
    border-bottom: 2px solid #FFFFFF;
    font-size: large!important;
    text-align: center!important;
    color: #FFFFFF;
    margin: auto auto 40px auto!important;
}

#input-object-fielset input{
    width: 98%;
    background: #6AB8C1;
    border: 3px solid white;
    border-radius: 10px;
    height: 32px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 30px;
}

#input-object-fielset input:focus{
    outline: none!important;
}

#input-object-fielset input[type=submit]{
    width: 49%;
    background: #FFFFFF;
    color: #6AB8C1;
    border: 1px solid white;
    border-radius: 10px;
    height: 38px;
    font-size: large;
    line-height: 1!important;
    text-align: center;
    margin-bottom: 30px;
}

#input-object-fielset input[type=button]{
    width: 49%;
    background: #FFFFFF;
    color: #6AB8C1;
    border: 1px solid white;
    border-radius: 10px;
    height: 38px;
    font-size: large;
    line-height: 1!important;
    text-align: center;
    margin-bottom: 30px;
}

#object-type-select{
    width: 100%;
    height: 40px;
    background-color: #6AB8C1;
    color: #FFFFFF;
    outline: none!important;
    border: 3px solid #FFFFFF;
}

.insert-object-success{
    border: 2px solid #3dc235!important;
    border-radius: 10px!important;
    width: 80% !important;
    margin: auto auto 30px auto!important;
}

.insert-object-success p{
    margin: 0!important;
    padding: 5px 20px!important;
    color: #FFFFFF!important;
    text-align: center!important;
    background: #3dc235!important;
}

.insert-object-error{
    border: 2px solid #E52612!important;
    border-radius: 10px!important;
    width: 80% !important;
    margin: auto auto 30px auto!important;
}

.insert-object-error p{
    margin: 0!important;
    padding: 5px 20px!important;
    color: #FFFFFF!important;
    text-align: center!important;
    background: #E52612!important;
}

/*end insert object*/