.lorem-impsum{
    padding: 10px;
}

.center-text{
    text-align: center!important;
}

.font-medium{
    font-size: medium!important;
}

.font-small{
    font-size: small!important;
}

.font-large{
    font-size: large!important;
}

.font-x-large{
    font-size: x-large!important;
}

.font-xx-large{
    font-size: xx-large!important;
}

.line-height-3{
    line-height: 3!important;
}

.no-margin{
    margin: 0!important;
}

.error-message{
    width: 80% !important;
    margin: auto!important;
    border: 1px solid #E52612;
    padding: 10px;
    border-radius: 7px;
}

.error-message span{
    color: #E52612;
    font-size: small;
    text-shadow: none;
}

.blue-color{
    color: #6AB8C1!important;
}

.darkblue-color{
    color: #0099FF!important;
}

.white-color{
    color: #FFFFFF!important;
}

.orange-color{
    color: #ED653F;
}
.display-none {
    display: none !important;
}

.blue-background{
    background-color: #6AB8C1!important;
}

.orange-background{
    background-color: #ED653F!important;
}

.yellow-background{
    background-color: #FFBC58!important;
}

.green-background{
    background-color: #3dc235!important;
}

.red-background{
    background-color: #CF3D44!important;
}

.margin-r-5{
    margin-right: 5%!important;
}

.margin-l-5{
    margin-left: 5%!important;
}

.border-right-no-color{
    border-right: 1px solid!important;
}

.padding-10{
    padding: 10px!important;
}

.border-radius-10{
    border-radius: 10px!important;
}

.gray-background{
    background-color: #DBDBDB!important;
}

.margin-bottom-5{
    margin-bottom: 5px!important;
}

.border-orange-1{
    border: 1px solid #ED653F!important;
}

.border-green-1{
    border: 1px solid #5DB553!important;
}

.border-red-1{
    border: 1px solid #E52612!important;
}

.box-shadow-bottom{
    box-shadow: 0 5px 10px 0 #808080!important;
}

.error-popup{
    border: 1px solid #FFFFFF!important;
    background: #E52612!important;
    color: white!important;
    box-shadow: 0 0 10px 7px #E52612!important;
}

.success-popup{
    border: 3px solid #5DB553!important;
    background: #5DB553!important;
    color: white!important;
    box-shadow: 0 0 16px 7px #5DB553!important;
}

.error-title{
    border-bottom: 3px solid #FFFFFF;
    padding: 5px;
}

.error-content{
    padding: 10px;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.red-color{
    color: #ED653F!important;
}

.margin-lr-auto{
    margin-left: auto!important;
    margin-right: auto!important;
}

.width-90{
    width: 90% !important;
}

.margin-top-50{
    margin-top: 50px!important;
}

.margin-top-15{
    margin-top: 15px!important;
}

.bold-text{
    font-weight: bold!important;
}

.margin-right-42{
    margin-right: 42px!important;
}

#type-select-fieldset .ui-select{
    border: 2px solid #6AB8C1;
    border-radius: 10px;
}