.lorem-impsum{
    padding: 10px;
}

.center-text{
    text-align: center!important;
}

.font-medium{
    font-size: medium!important;
}

.font-small{
    font-size: small!important;
}

.font-large{
    font-size: large!important;
}

.font-x-large{
    font-size: x-large!important;
}

.no-margin{
    margin: 0!important;
}
.error-message{
    border: 2px solid #E52612;
    padding: 15px;
    margin: 0 8px 30px 0;
    border-radius: 7px;
}

.error-message span{
    color: #E52612;
    font-size: large;
    font-weight: bold;
    text-shadow: none;
}

.blue-color{
    color: #6AB8C1!important;
}