/*LOGIN PAGE*/

/*jquery mobile*/

.ui-content{
    padding: 0!important;
}

#login-fielset div.ui-input-text{
    background: #f9f9f9;
    border: none!important;
    box-shadow: none!important;
}

#login-fielset .mdl-textfield{
    line-height: 3!important;
}

#login-fielset div.ui-input-btn{
    width: 40% !important;
    height: 25px!important;
    display: block;
    margin: 30px auto!important;
    border: none;
    background: #6AB8C1!important;
    color: #FFFFFF!important;
    border-radius: 10px;
    font-size: large!important;
    text-align: center;
}

#login-fielset .mdl-textfield{
    width: 70% !important;
    display: block;
    margin: auto;
}

/*end jquery mobile*/


/*login page*/
.login-image-container{
    width: 74%;
    /*height: 100vh;*/
    float: left;
}

.login-image-container p{
    width: 74%;
    margin: auto;
    text-align: justify;
}

.login-image{
    width: 90%;
    display: block;
    margin: 150px auto auto;
}

.login-form-container{
    margin: 100px auto;
    width: 26%;
    float: right;
}

.login-text{
    margin: 100px auto 25px;
    font-weight: bold;
    font-size: xx-large;
    color: #6AB8C1;
}

#login-fielset input{
    border-bottom: 2px solid #6AB8C1;
    border-radius: 0;
}

fieldset{
    border: none;
}

/*end login page*/