/*LOGIN PAGE*/

/*jquery mobile*/

.ui-content{
    padding: 0!important;
}

::placeholder{
    color: #FFFFFF!important;
    text-shadow: none!important;
    text-align: center;
}

#login-fielset div.ui-input-text{
    background: #4081AD;
    border: none!important;
    color: #FFFFFF!important;
    box-shadow: none!important;
}

#login-fielset div.ui-input-btn{
    width: 76% !important;
    height: 22px!important;
    display: block;
    margin: 75px auto!important;
    margin-bottom: 35px!important;
    border: none;
    background: #FFFFFF!important;
    color: #4081AD!important;
    border-radius: 10px;
    font-size: large!important;
    text-align: center;
}

/*end jquery mobile*/


/*login page*/

#login{
    background: url("../img/login.jpg") top;
}

.input-container{
    width: 90% !important;
    margin: 35px auto!important;
}

.login-image-container{
    width: 74%;
    /*height: 100vh;*/
    float: left;
}

.login-image-container p{
    width: 74%;
    margin: auto;
    text-align: justify;
}

.login-image{
    width: 95%;
    display: block;
    margin: 212px auto;
}

.login-image-container{
    background: url("../img/image-back.png") center;
    background-size: cover;
}

.login-form-container{
    margin: 100px auto auto;
    width: 26%;
    float: right;
}

.login-text{
    margin: 100px auto 25px;
    font-weight: bold;
    font-size: xx-large;
    color: #FFFFFF;
}

#login-fielset input{
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    border-radius: 10px!important;
}

fieldset{
    border: none;
}

#login-content{
    width: 79%!important;
    margin: 3% auto auto!important;
    border-radius: 40px;
    background-color: #4081AD;
    box-shadow: 0 0 20px 2px #4081ad;
    background-size: contain;
}

.oppure-p{
    text-align: center;
    font-size: small;
    text-shadow: none;
    color: white;
    margin-bottom: 30px;
}

.change-password{
    text-align: center!important;
    margin: auto!important;
    display: block!important;
    font-size: large!important;
    color: white!important;
    text-decoration: none!important;
}

#change-password-form{
    width: 500px;
    margin: auto;
}

#change-password-fielset .ui-input-btn{
    display: block;
    width: 70%;
    margin: auto;
}

.error-message-repass{
    width: 100%!important;
    margin: 20px auto auto!important;
    background: #E52612;
    border: 1px solid #E52612;
    padding: 5px;
    color: white;
    border-radius: 7px;
}

.error-message-repass span{
    /* color: #E52612; */
    font-size: small;
    text-shadow: none;
}
/*end login page*/